.App{
  min-width: 100%;
  /* padding: auto; */
  padding: 0%;
}

/* .btn{
  --bs-btn-padding-x : 0rem;
} */

/* .nav-link{
  color: white;
  background-color: #003462;
} */

.card, .card-img, .card-img-top{
  border-radius: 0px !important;
  border: none;
}

.card-body{
  background-color: #f8f8f8;
}

.btn-primary{
  color: white;
  background-color: #003462;
}

.accordion-button:not(.collapsed){
  background-color: #f8f8f8;
}

.accordion-button:focus{
  border-color: #f8f8f8;
  box-shadow: none;
}

.accordion-button::after{
  background-image: none;
}

.accordion-button:not(.collapsed)::after{
  background-image: none;
}

.accordion-button{
  background-color: #f8f8f8;
}

.accordion-body{
  background-color: #f8f8f8;
}